@import '../_variables.css';


.content {

}

.read-more,
.read-less {
  font-size: var(--font-size-xs-small);
  cursor: pointer;
  border-bottom: 1px solid;
}

.details {
  max-height: 0;
  overflow: hidden;

  & .inner {
    margin-top: 2rem;
  }
}

.summary.isExtended {
  & .details {
    max-height: initial;
  }

  & .read-more {
    display: none;
  }

  & .read-less {
    display: inline-block;
  }
}

